



.footer-part{
    padding-top: 1rem;
    /* background: rgb(26,79,147);
    background: linear-gradient(90deg, rgba(26,79,147,1) 35%, rgba(203,190,195,1) 82%); */
    background: #000;
    
    width: 100%;
    height: 30rem;
    bottom: 0;
}

.main-footer{
    /* background: red; */
    height: 100%;
    width: 100%;
}
.footer > .footer-content{
    color: aliceblue;
}

/* 

.footer-content{
    width: 100%;
    height: 100%;
} */

.footer{
    padding-top: 2rem; 
    width: 100%;
    height: 100%;
    
}

.footer-logo-title{
    width: 100%;
}
.footer-logo-title h2{
    color: aliceblue;
}

.image-logo{
    margin-top: 4rem;
    width: 150px;
    color: aliceblue;
}

.image-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.footer-content p{
    width: 290px;
    text-align: justify;
    margin-top: 1rem;
    text-justify: inter-word;
    line-height: 1.4rem;
}


.social ul{
    margin-top: 2rem;
    display: flex;
    
    gap: 2rem;
}
.social ul li a{
    color: aliceblue;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
